{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>BlockChain</title>
  
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  
</head>
<body>
 <form action="/../register/" method="POST" class="post-form">
        {% csrf_token %}
        <input type="text" name="name"           maxlength="30" placeholder="Введите логин"    required/><br>
        <input type="text" name="category"        maxlength="30" placeholder="Введите пароль"   required/><br>
        <input type="text" name="price"       maxlength="30" placeholder="Повторите пароль" required/><br>
        <input type="text" name="owner"           maxlength="30" placeholder="Введите id из вк" required/><br>

        <input class="button" type="submit" value="Зарегистрироваться">
        <p>{{error}}</p>
    </form>
</body>
</html>


    using SafeMath for uint256;
    string public name;
    string public category;
    uint256 public price;
    address public owner;