{% extends 'base.html' %}
{% block content %}


    <h1>Список Товаров</h1>
<div class="container">
    <table class="table table-inverse">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Owner</th>
                <th>price</th>
                <th>last_price_date</th>
            </tr>
        </thead>
        <tbody>
           
        {% for product in products %}
            <tr>
                <th scope="row">{{product.id}}</th>
                <th>{{product.name}}</th>
                <th>{{product.category.name}}</th>
                <th>{{product.owner}}</th>
                <th>{{product.price}}</th>
                <th>{{product.last_price_date}}</th>
            </tr>
        {% endfor %}
      
            <tr>
                <th scope="row">1</th>
                <th >Арбуз</th>
                <th >Еда</th>
                <th >sdas545asd48asd4a5s4dw8ed4a5d4a4d85ae4df5d</th>
                <th >12 ETH</th>
                <th >16.12.2017</th>
            </tr>
        </tbody>
    </table>
    
    <aside>
        <p>Фильтер</p>
        <hr>
        <p>Категория</p>
        <select id='categorySelect'>
           {% for category in categories %}
                <option>{{category.name}}</option>
            {% endfor %}
        </select>
        <p> Цена</p>
        
    </aside>

{% endblock %}